body { /*page background*/
    background: linear-gradient(brown, gold);
    background-repeat: no-repeat;
}
#h3 { /*styling the title of the page*/
    text-align: center;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: olivedrab;
}
#h4 { /*styling the game instructions*/
    text-align: left;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
}
/* #crystals{

} */
#blue{
    width:230px;
    height:260px;
    
}
#gold{
    width:200px;
    height:300px;
}
#purple{
    width:200px;
    height:300px;
}
#green{
    width:200px;
    height:300px;
}