body { /*page background*/
    background: linear-gradient(brown, gold);
    background-repeat: no-repeat;
}
#h3 { /*styling the title of the page*/
    text-align: center;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: olivedrab;
}
#h4 { /*styling the game instructions*/
    text-align: left;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: antiquewhite;
}
/* #crystals{

} */
/* content width/height of crystals images */
#blue{
    width:140px;
    height:150px;
    float:right;
}
#gold{
    width:140px;
    height:150px;
    float:right;
}
#purple{
    width:140px;
    height:150px;
    float:right;
}
#green{
    width:140px;
    height:150px;
    float:right;
}
#counter{ /*contains wins/losses counter*/
    width:140px;
    height:100px;
    float:left;
    background-color: aquamarine;
}
#status{
    width:100px;
    height:30px;
}
#win{
    width:100px;
    height:30px;
    /* float:left; */
}
#loss{
    width:100px;
    height:30px;
    /* float:left; */
}
#random-goal{ /*randomely generated amount*/
    width:140px;
    height:150px;
    background-color: blanchedalmond;
}
#accumulated{ /*total score*/
    width:200px;
    height:100px;
    float:inline;
    background-color: bisque;
}
