body { /*page background*/
    background: linear-gradient(brown, gold);
    background-repeat: no-repeat;
}
#h3 { /*styling the title of the page*/
    text-align: center;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 35px;
    background-color: olivedrab;
}
#h4 { /*styling the game instructions*/
    text-align: left;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 35px;
}
#crystals{

}